/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  color: #25133d;
  font-size: 16px;
  padding: 10px 30px;
  text-align: left;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  text-transform: uppercase;
  font-weight: bold;
}

.poutac {
  background-image: url(images/pozadi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.popis h1, p, a {
  color: white;
}

h1 {
  font-size: 90px;
  font-weight: normal;
  margin: 0;
}

.popis p {
  font-size: 30px;
  font-weight: 300;
}

.popis {
  display: flex;
  flex-direction: column;
  padding: 35px;
  justify-content: space-around;
}

.tlacitka a {
  text-decoration: none;
  font-weight: 300 bold;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.tlacitka a:hover {
  background-color: #48418e;
}

.ruka {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ruka img{
  height: 90%;
}

.moznosti {
  display: flex;
  text-align: center;
  padding: 50px 30px;
}

.moznosti img{
  height: 70px;
}

.moznosti p{
  color: black;
  text-align: center;
}

.moznosti h2{
  color: #48418e;
}

.paticka{
  background-color: #48418e;
  text-align: center;
  padding: 1px;
  color: #e5e5e5;
  font-weight: 300;
  margin: 0;

}
